// General
* {
    margin     : 0px;
    padding    : 0px;
    font-family: "raleway";
}

a {
    text-decoration: none;
}

footer {
    font-size: 0.75em;
}

.light {
    color: @colorThemeContent;
}

.light-header {
    color: @colorThemeGrey;
}

.dark {
    color: @colorThemeWhite;
}

.label {
    text-align: center;
}

.btn-light {
    padding      : 20px;
    display      : block;
    text-align   : center;
    border       : thin solid @colorThemeWhite;
    border-radius: 1em;
    .transAll;
    .light;

    &:hover {
        color : @colorThemeGrey;
        border: thin solid @colorThemeGreyActive;
    }
}